{% extends 'base_content.html' %} 

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="card p-3">
            <form action="{% url 'admin_lesson' lesson.id %}" method="post">
                {% csrf_token %}
                <a href="{% url 'admin_lessons' %}">Go back</a>
                <h3>Lesson #{{lesson.id}} - {{lesson.student.full_name}}</h3>
                {% include 'partials/bootstrap_form.html' %}
                <div class="d-flex">
                    <input type="submit" value="Save changes" class="btn btn-primary mr-2">
                    <a class="btn btn-danger" href="{% url 'admin_lesson_delete' lesson.id  %}">Delete lesson</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block title %} 
    Edit Lesson Booking
{% endblock %}