{% extends 'base_content.html' %}

{% block content %}
<div class="container-sm">
  <div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3">
        <div class="card p-3">
            <h3>Change Balance for <b>{{ name }}</b></h3></br>
            <h4 style="text-align:center;">Current Balance: £{{ balance }}</h4>
          <form action="" method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <div class="d-flex justify-content-between">
              <a class="btn btn-primary" href="{% url 'manage_students' %}">
                Back
              </a>
              <div>
                <input type="submit" name="Set" value="Set Amount" class="btn btn-secondary mr-1" href ={% url 'manage_students'%}>
                <input type="submit" name="Subtract" value="Subtract Amount" class="btn btn-danger mr-1" href ={% url 'manage_students'%}>
                <input type="submit" name="Add" value="Add Amount" class="btn btn-success" href ={% url 'manage_students'%}>
              </div>
            </div>


          </form>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block title %} 
    Change Balance
{% endblock %}