{% extends 'base_content.html' %} 

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="card p-3">
          <h1>Edit account</h1>
          <form action="{% url 'edit_account' account.id %}" method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <a class="btn btn-primary" href="{% url 'manage_admins' %}">
              Back
            </a>
            <input type="submit" value="Update" class="btn btn-primary float-right">
          </form>
        </div>
    </div>
</div>
{% endblock %}

{% block title %} 
    Edit Account
{% endblock %}