{% extends 'base_content.html' %} 

{% block content %}
<div class="container-sm">
    <div class="card p-3">
        <div class="d-flex justify-content-between w-100 align-items-center">
            <div>
                <h3>Manage Students</h3>
                <h6 class="text-muted">
                    Showing {{student_count}} accounts
                    
                    {% if email_search %}
                    for
                    <b>
                    "{{email_search}}"
                    {% endif %}
                    </b>
                </h6>
            </div>

            <div>
                <form action="{% url 'manage_students' %}" method="get">
                    <div class="d-flex align-items-center">
                        <input 
                            class="form-control mr-3" 
                            type="text" 
                            name="email_search" 
                            placeholder="Search for account by Email"
                            style="width: 350px"
                        >
                        <input class="btn btn-primary" type="submit" value="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>

    &nbsp;

    <div class="card p-3 mb-3">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Balance</th>
                <th scope="col" style="text-align:center" >Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <th scope="row">{{account.id}}</th>
                    <td>{{account.full_name}}</td>
                    <td>{{account.email}}</td>
                    {% if 0 > account.balance %}
                        <td style="color:red;">£{{account.balance}}</td>
                    {% else %}
                        <td style="color:black;">£{{account.balance}}</td>
                    {% endif %}
                    <td class="float-right">
                        <a class="btn btn-warning btn-sm" href="{% url 'change_balance' account.id  %}">
                            Update Balance
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'manage_user_delete' account.id  %}">
                            Remove Account
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'partials/pagination.html' with page=accounts %}
</div>
{% endblock %}

{% block title %} 
    Manage Students
{% endblock %}