{% extends 'base_content.html' %} 

{% block content %}
<div class="container-sm">
    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between w-100 align-items-center">
            <div>
                <h3>My Lesson Bookings</h3>
                <h6 class="text-muted">
                    Showing {{lesson_count}} results
                    
                    {% if instrument_search %}
                    for
                    <b>
                    "{{instrument_search}}"
                    {% endif %}
                    </b>
                </h6>
            </div>
            
            <div>
                <form action="{% url 'student_lessons' %}" method="get">
                    <div class="d-flex align-items-center">
                        <input 
                            class="form-control mr-3" 
                            type="text" 
                            name="instrument_search" 
                            placeholder="Search for booking by instrument"
                            style="width: 350px"
                        >
                        <input class="btn btn-primary" type="submit" value="Search">
                    </div>
                </form>
            </div>  
        </div>
    </div>

    
    {% include 'partials/student_lesson_card_collection.html' with lessons=upcoming_lessons title="Upcoming" page_number=1 %}

    {% include 'partials/student_lesson_card_collection.html' with lessons=previous_lessons title="Previous" page_number=2 %}

</div>
{% endblock %}

{% block title %} 
    Your Lessons
{% endblock %}