<h3>
    Request details
</h3>
<div class="request-details-grid">
    <div>
        <h6>ID</h6>
        <div>{{request.id}}</div>
    </div>
    <div>
        <h6>Student name</h6>
        <div>{{request.student.full_name}}</div>
    </div>
    <div>
        <h6># of lessons</h6>
        <div>{{request.lesson_count}}</div>
    </div>    
    <div>
        <h6>Interval</h6>
        <div>{{request.lesson_interval}} week(s)</div>
    </div>
    <div>
        <h6>Duration</h6>
        <div>{{request.lesson_duration}}</div>
    </div>    
    <div>
        <h6>Availabiity</h6>
        <div>{{request.availability}}</div>
    </div>
    <div>
        <h6>Preferred teacher</h6>
        <div>{{request.preferred_teacher}}</div>
    </div>
</div>