<div class="card p-3 mb-5">
    <h3>
        {{request_type}}
    </h3> 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Student name</th>
            <th scope="col">Lesson Type</th>
            <th scope="col"># Lessons</th>
            <th scope="col">Interval</th>
            <th scope="col">Duration</th>
            <th scope="col">Availabiity</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for request in requests %}
                <th scope="row">{{request.id}}</th>
                <td>{{request.student.full_name}}</td>
                <td>{{request.instrument.name}}</td>
                <td>{{request.lesson_count}}</td>
                <td>{{request.lesson_interval}} week(s)</td>
                <td>{{request.lesson_duration}} minutes</td>
                <td>{{request.day_availability}} {{request.time_availability}}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'admin_request' request.id %}">
                        Approve
                    </a>
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                </td>
            {% endfor %}
          </tr>
        </tbody>
    </table>
</div>