<nav class="navbar navbar-dark bg-dark shadow-lg navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><i class="bi bi-file-music-fill"></i>&nbsp;MSMS</a>
            {% if user.is_authenticated %}
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ml-auto">

                        {% if user.role == "Student" %}
                            <a class="nav-link text-white" href="{% url 'transaction_history' %}">
                                Balance: £{{ user.student.balance }}
                            </a>>
                            <a class="nav-link" href="{% url 'student_requests' %}">
                                Requests
                            </a>
                            <a class="nav-link" href="{% url 'student_lessons' %}">
                                Lessons
                            </a>
                            <a class="nav-link" href="{% url 'transaction_history' %}">
                                Transaction History
                            </a>    
                            <a class="nav-link" href="{% url 'add_child' %}">
                                Add Child
                            </a>
                        {% elif user.role == "Administrator" or user.role == "Director" %}
                            <a class="nav-link" href="{% url 'admin_unapproved_requests' %}">
                                Requests
                            </a>
                            <a class="nav-link" href="{% url 'admin_lessons' %}">
                                Lessons
                            </a>
                            <a class="nav-link" href="{% url 'term_create' %}">
                                Terms
                            <a class="nav-link" href="{% url 'manage_students' %}">
                                Manage Students
                            </a>
                        {% endif %}

                        {% if user.role == "Director" %}
                            <a class="nav-link" href="{% url 'manage_admins' %}">
                                Manage Admins
                            </a>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Settings</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'password' %}">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'log_out' %}">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>

&nbsp;