<div class="card p-3">
    <div class="d-flex w-100 justify-content-between mb-2 align-items-center">
        <div>
            <div>Lesson #{{lesson.id}} booked at:</div>
            <div class="d-flex align-items-baseline align-items-baseline">
                
                <h5 class="mr-1">{{lesson.date|date:"d/m/y"}}</h5>
                <span>{{lesson.date|date:"h:m"}}</span>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <th>Teacher</th>
            <td>{{lesson.teacher.full_name}}</td>
        </tr>
        <tr>
            <th>Instrument</th>
            <td>{{lesson.instrument.name}}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{{lesson.duration}} minutes</td>
        </tr>
        {% if True %}
        <tr>
            <th>Paid</th>
            <td>{{lesson.get_invoice_paid}}</td>
        </tr>
        <td>
            <a class="btn btn-primary btn-sm" href="{% url 'download' lesson.generate_invoice%}">
                    Download Invoice
            </a>
        </td>
        {% endif %}
    </table>
</div>