<div class="card p-3 mb-3">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <h3>Current Terms</h3>
        <a class="btn btn-primary" href="{% url 'term_create' %}">
            Create new term
        </a>
    </div>
</div>
<div class="card p-3">
<div class="d-flex w-100 justify-content-between - align-items-center">
    <div>
        <h4>
            Term 1
        </h4>
        <div class="d-flex">
            <b class="mr-1">Period:</b>
            <div>
                14/03/22 - 20/05/22
            </div>
        </div>

    </div>

    <a href="" class="btn btn-primary">
        Edit term
    </a>
</div>
</div>
    <!-- {% for position, term in terms.items %}

    {% endfor %} -->