<div class="card p-3 mb-3">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <h3>Current Terms</h3>
        <a class="btn btn-primary" href="{% url 'term_create' %}">
            Create new term
        </a>
    </div>
</div>

{% for position, term in terms.items %}
<div class="card p-3 mb-3">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <div>
            <h4>
                Term {{position}}
            </h4>
            <div class="d-flex">
                <b class="mr-1">Period:</b>
                <div>
                    {{term.start_date|date:"d/m/y"}} - {{term.end_date|date:"d/m/y"}}
                </div>
            </div>
        </div>
    
        <a href="{% url 'term_update' term.id %}" class="btn btn-primary">
            Edit term
        </a>
    </div>
</div>
{% endfor %}