{% extends "admin_dashboard_template.html" %}
{% block content %}
<!-- Student Transactions Details Modal  -->
<!-- This pops up when a student with an outstanding payment is clicked -->
<div class="modal fade" id="studentTransactionsModal" tabindex="-1" aria-labelledby="studentTransactionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="studentTransactionsModalLabel">John Doe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush border-0">
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Amount Owed</h7>
                        </div>
                        <p class="text">$140</p>
                    </li>
                </ul>

                <h5 class="display-5 ">Transaction History</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Transaction id</th>
                            <th scope="col">Lesson Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">
                            <th scope="col">0129-001</th>
                            <th scope="col">Guitar</th>
                            <th scope="col">$14</th>
                            <th scope="col">Yes</th>
                        </tr>
                        <tr data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">
                            <th scope="col">0129-001</th>
                            <th scope="col">Guitar</th>
                            <th scope="col">$25</th>
                            <th scope="col">Yes</th>
                        </tr>
                        <tr data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">
                            <th scope="col">0129-001</th>
                            <th scope="col">Guitar</th>
                            <th scope="col">$19</th>
                            <th scope="col">Yes</th>
                        </tr>
                        <tr data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">
                            <th scope="col">0129-001</th>
                            <th scope="col">Guitar</th>
                            <th scope="col">$63</th>
                            <th scope="col">Yes</th>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
    </div>
  </div>

<!-- Invoice Details Modal  -->
<!-- This pops up when an invoice card is clicked -->
<div class="modal fade" id="invoiceDetailsModal" tabindex="-1" aria-labelledby="invoiceDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="invoiceDetailsModalLabel">Invoice Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush border-0">
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Transaction Id</h7>
                        </div>
                        <p class="text">0192-001</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Amount Paid</h7>
                        </div>
                        <p class="text">$140</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Student Name</h7>
                        </div>
                        <p class="text">John Doe</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                      <div class="col">
                          <h7>Teacher Name</h7>
                      </div>
                      <p class="text">Tr.Jane Doe</p>
                  </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                      <div class="col">
                          <h7>Lesson Type</h7>
                      </div>
                      <p class="text">Guitar</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Start Date</h7>
                        </div>
                        <p class="text">01/11/2022</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Number of Lessons</h7>
                        </div>
                        <p class="text">4</p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
    </div>
  </div>


<header class="pb-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">School Transactions</span>
    </a>
</header>

<div class="row align-items-md-stretch my-4">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
            <h2>Total Amount Owed:</h2>
            <h3>$1040</h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light rounded-3 my-auto">
            <h2>Transaction Information</h2>
            <h6>Students with Outstanding Debt</h6>
            <h7>11</h7>
            <h6>Total Amount Owed</h6>
            <h7>$1050</h7>
        </div>
    </div>
</div>

<div class="row align-items-md-stretch my-4">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
            <h2>Incoming Transfers</h2>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Transaction Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0129-002</td>
                    <td>John Doe</td>
                    <td>$140</td>
                  </tr>
                  <tr>
                    <td>0129-002</td>
                    <td>John Doe</td>
                    <td>$140</td>
                  </tr>
                  <tr>
                    <td>0129-002</td>
                    <td>John Doe</td>
                    <td>$140</td>
                  </tr>
                  <tr>
                    <td>0129-002</td>
                    <td>John Doe</td>
                    <td>$140</td>
                  </tr>
                </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light rounded-3 my-auto">
            <h2>Students with Outstanding payments</h2>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Student Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-bs-toggle="modal" data-bs-target="#studentTransactionsModal">
                    <td>0129</td>
                    <td>John Doe</td>
                    <td>$140</td>
                  </tr>
                  <tr data-bs-toggle="modal" data-bs-target="#studentTransactionsModal">
                    <td>0129</td>
                    <td>John Doe</td>
                    <td>$140</td>
                  </tr>
                  <tr data-bs-toggle="modal" data-bs-target="#studentTransactionsModal">
                    <td>0129</td>
                    <td>John Doe</td>
                    <td>$140</td>
                  </tr>
                </tbody>
          </table>
        </div>
    </div>
</div>

<!-- Container for the Fullfilled Requests table -->
<div class="p-3 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h3 class="display-5 ">Transaction History</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Transaction id</th>
                <th scope="col">Student Name</th>
                <th scope="col">Lesson Type</th>
                <th scope="col">Number of Lessons</th>
                <th scope="col">Preferred Teacher</th>
                <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">
                    <th scope="col">001</th>
                    <th scope="col">John Doe</th>
                    <th scope="col">Guitar</th>
                    <th scope="col">3</th>
                    <th scope="col">Tr.Jane Doe</th>
                    <th scope="col">$140</th>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">
                    <th scope="col">001</th>
                    <th scope="col">John Doe</th>
                    <th scope="col">Guitar</th>
                    <th scope="col">3</th>
                    <th scope="col">Tr.Jane Doe</th>
                    <th scope="col">$140</th>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">
                    <th scope="col">001</th>
                    <th scope="col">John Doe</th>
                    <th scope="col">Guitar</th>
                    <th scope="col">3</th>
                    <th scope="col">Tr.Jane Doe</th>
                    <th scope="col">$140</th>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">
                    <th scope="col">001</th>
                    <th scope="col">John Doe</th>
                    <th scope="col">Guitar</th>
                    <th scope="col">3</th>
                    <th scope="col">Tr.Jane Doe</th>
                    <th scope="col">$140</th>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}