{% extends 'base_content.html' %} 

{% block content %}
<div class="container-sm mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3">
                <a href="{% url 'admin_requests' %}">Go back</a>
                {% include 'partials/admin_request_details.html' %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3">
                <form action="{% url 'admin_request' request.id %}" method="post">
                    {% csrf_token %}
                    
                    <h3>
                        Approve request  
                    </h3>
                    {% include 'partials/bootstrap_form.html' with form=form %}
                    <input type="submit" value="Approve" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}