{% extends 'base_content.html' %} 

{% block content %}
<div class="container">
  <div class="row vh-100 align-items-center">
    <div class="col-sm-12 col-md-4 offset-md-4">
        <div class="card p-3">
            <h1>Log in</h1>
            <form action="{% url 'log_in' %}" method="post">
                {% csrf_token %} 
                {% include 'partials/bootstrap_form.html' with form=form %}
                <input type="submit" value="Log in" class="btn btn-primary"/>
            </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block title %}
Log in
{% endblock %}