{% extends "student_dashboard_template.html" %}

{% block content %}
    <header class="pb-3 mb-4 border-bottom">
        <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Create Request</span>
        </a>
    </header>

    <div class="container pt-2 pb-4">
        <div class="card w-75" role="document">
            <div class="card-body rounded-4 shadow">
                <div class="modal-header p-5 pb-3 border-bottom-0">
                    <h1>New Request</h1>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form method=POST action="">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=form %}

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}