{% extends "student_dashboard_template.html" %}
{% block content %}
<!-- Ongoing Request Details Modal  -->
<!-- This pops up when an ongoing request cell is clicked -->
<div class="modal fade" id="requestDetailsModal" tabindex="-1" aria-labelledby="requestDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="requestDetailsModalLabel">Request Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush border-0">
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Request Id</h7>
                        </div>
                        <p class="text">001</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Lesson Type</h7>
                        </div>
                        <p class="text">Guitar</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Number of Lessons</h7>
                        </div>
                        <p class="text">3</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Lesson Interval</h7>
                        </div>
                        <p class="text">2 weeks</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Lesson Duration</h7>
                        </div>
                        <p class="text">60 minutes</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Preferred Teacher</h7>
                        </div>
                        <p class="text">Tr.Jane Doe</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Available Times</h7>
                        </div>
                        <p class="text">36</p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
            </div>
    </div>
</div>

<!-- Approved Request Details Modal  -->
<!-- This pops up when an approved request cell is clicked -->
<div class="modal fade" id="approvedRequestModal" tabindex="-1" aria-labelledby="approvedRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="approvedRequestModalLabel">Request Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush border-0">
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Request Id</h7>
                        </div>
                        <p class="text">001</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Lesson Type</h7>
                        </div>
                        <p class="text">Guitar</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Number of Lessons</h7>
                        </div>
                        <p class="text">3</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Lesson Interval</h7>
                        </div>
                        <p class="text">2 weeks</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Lesson Duration</h7>
                        </div>
                        <p class="text">60 minutes</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Preferred Teacher</h7>
                        </div>
                        <p class="text">Tr.Jane Doe</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Available Times</h7>
                        </div>
                        <p class="text">36</p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">View Lessons</button>
            </div>
            </div>
    </div>
</div>


<header class="pb-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Requests</span>
    </a>
</header>

<div class="row align-items-md-stretch my-4">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-light rounded-3">
        <h2>Create new request</h2>
        <p>Request a new set of lessons.</p>
        <button class="btn btn-primary" type="button">Create Request</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h4>Current balance</h4>
        <h6>$100</h6>
        <p>View all your invoices here</p>
        <button class="btn btn-primary" type="button">Invoices</button>
      </div>
    </div>
</div>

<!-- Ongoing Requests Table Container -->
<div class="p-3 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold">Ongoing Requests</h1>
      <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Request id</th>
                <th scope="col">Lesson Type</th>
                <th scope="col">Number of Lessons</th>
                <th scope="col">Interval</th>
                <th scope="col">Duration</th>
                <th scope="col">Preferred Teacher</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr data-bs-toggle="modal" data-bs-target="#requestDetailsModal">
                <th scope="col">001</th>
                <th scope="col">Guitar</th>
                <th scope="col">3</th>
                <th scope="col">2 weeks</th>
                <th scope="col">60 minutes</th>
                <th scope="col">Tr.Jane Doe</th>
                <th scope="col">
                    <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash"></i></button>
                </th>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#requestDetailsModal">
                <th scope="col">001</th>
                <th scope="col">Guitar</th>
                <th scope="col">3</th>
                <th scope="col">2 weeks</th>
                <th scope="col">60 minutes</th>
                <th scope="col">Tr.Jane Doe</th>
                <th scope="col">
                    <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash"></i></button>
                </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Request History Table Container -->
<div class="p-3 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold">Request History</h1>
      <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Request id</th>
                <th scope="col">Student Name</th>
                <th scope="col">Lesson Type</th>
                <th scope="col">Number of Lessons</th>
                <th scope="col">Interval</th>
                <th scope="col">Duration</th>
                <th scope="col">Preferred Teacher</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr data-bs-toggle="modal" data-bs-target="#approvedRequestModal">
                <th scope="col">001</th>
                <th scope="col">John Doe</th>
                <th scope="col">Guitar</th>
                <th scope="col">3</th>
                <th scope="col">2 weeks</th>
                <th scope="col">60 minutes</th>
                <th scope="col">Tr.Jane Doe</th>
                <th scope="col">
                    <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash"></i></button>
                </th>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#approvedRequestModal">
                <th scope="col">001</th>
                <th scope="col">John Doe</th>
                <th scope="col">Guitar</th>
                <th scope="col">3</th>
                <th scope="col">2 weeks</th>
                <th scope="col">60 minutes</th>
                <th scope="col">Tr.Jane Doe</th>
                <th scope="col">
                    <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash"></i></button>
                </th>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#approvedRequestModal">
                <th scope="col">001</th>
                <th scope="col">John Doe</th>
                <th scope="col">Guitar</th>
                <th scope="col">3</th>
                <th scope="col">2 weeks</th>
                <th scope="col">60 minutes</th>
                <th scope="col">Tr.Jane Doe</th>
                <th scope="col">
                    <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash"></i></button>
                </th>
                </tr>
                <tr data-bs-toggle="modal" data-bs-target="#approvedRequestModal">
                <th scope="col">001</th>
                <th scope="col">John Doe</th>
                <th scope="col">Guitar</th>
                <th scope="col">3</th>
                <th scope="col">2 weeks</th>
                <th scope="col">60 minutes</th>
                <th scope="col">Tr.Jane Doe</th>
                <th scope="col">
                    <button class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash"></i></button>
                </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}