{% extends "student_dashboard_template.html" %}
{% block content %}

<header class="pb-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Requests</span>
    </a>
</header>

<div class="row align-items-md-stretch my-4">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-light rounded-3">
        <h2>Create new request</h2>
        <p>Request a new set of lessons.</p>
        <button class="btn btn-primary" type="button" onclick="location.href='{% url 'student-request' %}'" >Create Request</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h4>Current balance</h4>
        <h6>$100</h6>
        <p>View all your invoices here</p>
        <button class="btn btn-primary" type="button">Invoices</button>
      </div>
    </div>
</div>

<!-- Ongoing Requests Table Container -->
<div class="p-3 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
      {% include 'partials/student_request_table.html' with requests=ongoing_requests request_type="Ongoing requests" %}
    </div>
</div>

<!-- Request History Table Container -->
<div class="p-3 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
      {% include 'partials/student_request_table.html' with requests=confirmed_requests request_type="Confirmed requests" %}
    </div>
</div>
{% endblock %}