{% extends "student_dashboard_template.html" %}
{% block content %}
<!-- Invoice Details Modal  -->
<!-- This pops up when an invoice card is clicked -->
<div class="modal fade" id="invoiceDetailsModal" tabindex="-1" aria-labelledby="invoiceDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="invoiceDetailsModalLabel">Invoice Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush border-0">
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Transaction Id</h7>
                        </div>
                        <p class="text">0192-001</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Amount Owed</h7>
                        </div>
                        <p class="text">$140</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Student Name</h7>
                        </div>
                        <p class="text">John Doe</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                      <div class="col">
                          <h7>Teacher Name</h7>
                      </div>
                      <p class="text">Tr.Jane Doe</p>
                  </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                      <div class="col">
                          <h7>Lesson Type</h7>
                      </div>
                      <p class="text">Guitar</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Start Date</h7>
                        </div>
                        <p class="text">01/11/2022</p>
                    </li>
                    <li class="list-group-item my-2 d-flex justify-content-between border-0">
                        <div class="col">
                            <h7>Number of Lessons</h7>
                        </div>
                        <p class="text">4</p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
    </div>
  </div>


<header class="pb-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">My Transactions</span>
    </a>
</header>

<div class="row align-items-md-stretch my-4">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
            <h2>Your Balance:</h2>
            <h3>$140</h3>
            <p>Please use the reference number from your invoices to pay your outstanding balance.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light rounded-3 my-auto">
            <h2>Transaction Information</h2>
            <div class="row">
                <p>Number of lessons:</p>
                <p>14</p>
            </div>
            <div class="row">
                <p>Amount Owed:</p>
                <p>$140</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-2" id="custom-cards">
    <h2 class="pb-2">All Invoices</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
                    <h3 class="display-6 lh-1"><i class="fa-solid fa-guitar"></i> Guitar</h3>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Transaction Number</h6>
                            <h7>0129-002</h7>
                        </li>
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Amount Owed</h6>
                            <h7>$50</h7>
                        </li>
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Number of Lessons</h6>
                            <h7>4</h7>
                        </li>
                    </ul>

                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <small>Issued</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <small>3 days ago</small>
                        </li>
                        <li class="d-flex align-items-center ms-5">
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">View</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
                    <h3 class="display-6 lh-1"><i class="fa-regular fa-music"></i> Piano</h3>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Transaction Number</h6>
                            <h7>0129-002</h7>
                        </li>
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Amount Owed</h6>
                            <h7>$50</h7>
                        </li>
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Number of Lessons</h6>
                            <h7>4</h7>
                        </li>
                    </ul>

                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <small>Issued</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <small>3 days ago</small>
                        </li>
                        <li class="d-flex align-items-center ms-5">
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">View</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
                    <h3 class="display-6 lh-1"><i class="fa-solid fa-drum"></i> Drums</h3>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Transaction Number</h6>
                            <h7>0129-002</h7>
                        </li>
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Amount Owed</h6>
                            <h7>$50</h7>
                        </li>
                        <li class="list-group-item mb-2 mt-2">
                            <h6>Number of Lessons</h6>
                            <h7>4</h7>
                        </li>
                    </ul>

                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <small>Issued</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <small>3 days ago</small>
                        </li>
                        <li class="d-flex align-items-center ms-5">
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal">View</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}