{% extends "base_content.html" %}

{% block content %}

    <div class="container pt-2 pb-4">
        <div class="card w-75" role="document">
            <div class="card-body rounded-4 shadow">
                <div class="modal-header border-bottom-0">
                    <h1>New Request</h1>
                </div>
                <div class="modal-body px-5">
                    <form method=POST action="">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=form %}

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}